<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="hotKeyID" value="123" />
    <add key="hotKeyMod" value="1" />
    <!--scWin Notepad++-->
    <add key="tessdataPath" value="C:\Autodial\Dialing\AutoDial_0.15\tessdata" />
    <add key="targetProcessName" value="scWin" />
    <add key="talkProcessName" value="talk" />
    <add key="programFileLocation" value="C:\Users\Cati\AppData\Roaming\NCH Software\Program Files\Talk\talk.exe" />
    <add key="talkLogPath" value="C:\Users\Cati\AppData\Roaming\NCH Software\Talk\Logs\" />
    <add key="numberOverride" value="" />
    <add key="captureLocationX" value="0" />
    <add key="captureLocationY" value="150" />
    <add key="captureWidth" value="400" />
    <add key="captureHeight" value="160" />
    <add key="cleanupFolder" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="alertSound" value="Bingbong.wav" />
    <add key="alertDelay" value="20000" />
    <add key="regExpPattern" value="abc" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>