<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="logfile" xsi:type="File" fileName="c:\AutoDial\log\AutoDial_${shortdate}.log" />
    <target name="logfiletrace" xsi:type="File" fileName="c:\AutoDial\log\AutoDial_${shortdate}_trace.log" />
    <target xsi:type="Console" name="ConsoleString"/>
    <!--<target name="logfilenetwork" xsi:type="File" fileName="R:\HEALTHSURVEY\HS_Reports\hs_utils\c#\~logging\${shortdate}\${windows-identity}\Interface_${shortdate}.log" />
    <target name="logfilenetworkerrors" xsi:type="File" fileName="R:\HEALTHSURVEY\HS_Reports\hs_utils\c#\~logging\Errors\${shortdate}\${windows-identity}\Interface_${shortdate}.log" /> -->
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="logfiletrace" />
    <logger name="*" minlevel="Trace" writeTo="ConsoleString" />
  </rules>
</nlog>
